<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            overflow-x: hidden;
        }

        .sidebar {
            height: 100%;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #343a40; /* Sidebar rengi */
            overflow-x: hidden;
            transition: all 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Sidebar içeriğini dikey olarak dağıt */
        }

            .sidebar.collapsed {
                width: 0;
                overflow-x: hidden;
            }

            .sidebar .nav-link {
                color: #fff;
            }

                .sidebar .nav-link:hover {
                    color: #007bff;
                }

            .sidebar .navbar-brand,
            .sidebar .nav-link {
                white-space: nowrap;
            }

        .main-content {
            margin-left: 250px;
            transition: all 0.3s;
        }

            .main-content.collapsed {
                margin-left: 0;
            }

        .toggle-button {
            cursor: pointer;
            font-size: 24px;
            color: #fff;
            background-color: #343a40;
            border: none;
            padding: 5px 10px;
            border-radius: 10px; /* Butonun köşelerini daha belirgin yapar */
            position: fixed;
            left: 15px;
            bottom: 15px; /* Toggle butonunu sidebar'ın en altına yerleştir */
            z-index: 1100;
        }

            .toggle-button:hover {
                background-color: #007bff;
            }
    </style>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex flex-column">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column mt-auto mb-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/newreleases">New Releases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/top">Top</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/allgames">All Games</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <button class="toggle-button" onclick="toggleSidebar()">
        ☰
    </button>
    <div class="main-content" id="main-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("collapsed");
            document.getElementById("main-content").classList.toggle("collapsed");
        }

        function closeSidebar() {
            document.getElementById("sidebar").classList.add("collapsed");
            document.getElementById("main-content").classList.add("collapsed");
        }
    </script>
</body>
</html>
